<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>

</head>
<body>

<h1>Hi <%= name %>. Your id is <%= id %></h1>
<h2>You are now logged in, yeah!</h2>
<h3>This is a super secret page only for logged users.....</h3>

<form action="addFavorite" method="POST">
<label for="favorite">What is your favorite movie?</label>
<input type="text" id="favorite" name="favorite" />
<button type="submit">add favorite</button>
</form>

<h3><a href="/favorites">Your favorite movie</a></h3>
</body>
</html>